.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.search__enabled {
  box-shadow: -1px 6px 20px -5px rgb(192, 192, 192, 0.9);
}
